<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>admin_index</title>
        <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    </head>
<body>
    <input id="exec_input">
    <button onclick="post_exec()">test exec</button>
    <div id="append">a</div>

    <script type="text/javascript">
        let url = document.URL + "/index/";
        $(document).ready(
            function (){
          var _url = url + "get_all_bug";
          $.ajax({
            //请求方式
            type: "POST",
            //请求地址
            url: _url,
            //in
            data: '',
            //out
            complete() {},
            success(result) {
              $("#append").empty();
              // console.log(result);
              let item = $.parseJSON(result);
                item.forEach((element, i) => {
                    $("#append").append(function (n) {
                        return(
                            "<div>" +
                            "id:" +
                            element.bug_id +
                            " name:" +
                            element.bug_name +
                            " tag:"+
                            element.bug_tag +
                            "</div>"
                        );
                    }
                    )
                });
              // console.log(item);
            },
            //请求失败，包含具体的错误信息
            error(e) {
              console.log(e.status);
              console.log(e.responseText);
            }
          });

        },
        );
        function post_exec() {
        $get_input = $("input:text[id='exec_input']").val();
        // console.log($get_input);
        var _url = url + "exec_action";
        let command={
          command:$get_input,
        };
        $.ajax({
            //请求方式
            type: "POST",
            //请求地址
            url: _url,
            data: command,
            complete() {},
            success(result) {
                // let _result=$.parse(result);
                // result = encodeURI(encodeURI(result));
                console.log(result);
                // console.log(decodeURIComponent(result.replace(/%/g, '%25')));
            },
            //请求失败，包含具体的错误信息
            error(e) {
                console.log(e.status);
                console.log(e.responseText);
            }
        });
    }



        function url_href($in_url) {
            console.log($in_url);
            $href_url=url+'redirect_function/';
            $.ajax({
              type: "POST",
              url: $href_url,
              data:'demo',
              complete(){
                console.log('complete');
              },
              success(){

              },
              error(e) {
                console.log(e.status);
                // console.log(e.responseText);
              },
            })
        }
        function user_seach(value) {
        if (value === "1") {
          // === 近乎等同于 ==，但 === 可以判断变量类型是否相等，更加规范
          $get_input = $("input:text[id='get_input1']").val();
          // 定义get_input变量，获取输入框的值
          var _url = url + "get_id_to_bug";
          console.log(_url+'  '+this.action);
          let search = {
            id: $get_input
          };
          //Ajax Reqwest strand for  .
          $.ajax({
            //请求方式
            type: "POST",
            //请求地址
            url: _url,
            //in
            data: search,
            //out
            complete() {},
            success(result) {
              $("#display").empty();
              // console.log(result);
              let item = $.parseJSON(result);
              $("#display").append(
                "id:",
                item[0].bug_id,
                " name:",
                item[0].bug_name,
                " tag:",
                item[0].bug_tag,
              );
              // console.log(item);
            },
            //请求失败，包含具体的错误信息
            error(e) {
              console.log(e.status);
              console.log(e.responseText);
            }
          });
        } else
          if (value === 2) {
          $get_input = $("input:text[id='get_input2']").val();
          console.log($get_input);
          var _url = url + "get_name_to_id";

          let search = {
            name: $get_input
          };
          //Ajax Reqwest strand for  .
          $.ajax({
            //请求方式
            type: "POST",
            //请求地址
            url: _url,
            //in
            data: search,
            //out
            complete() {},
            success(result) {
              $("#display").empty();
              console.log(result);
              let item = $.parseJSON(result);
              $("#display").append(
                      "id:",
                      item[0].bug_id,
                      " name:",
                      item[0].bug_name,
                      " tag:",
                      item[0].bug_tag,
              );
              // console.log(item);
            },
            //请求失败，包含具体的错误信息
            error(e) {
              console.log(e.status);
              console.log(e.responseText);
            }
          });
        } else
          if (value === "3") {
          var _url = url + "get_all_bug";
          $.ajax({
            //请求方式
            type: "POST",
            //请求地址
            url: _url,
            //in
            data: "",
            //out
            complete() {},
            success(result) {
              $("#display").empty();
              console.log(result);
              let item = $.parseJSON(result);
              $("#display").append("</th>");
              item.forEach((element, i) => {
                // console.log(element, " ", i);
                $("#display").append(
                        "<th colspan=\"2\">",
                        "id:",
                        element.bug_id,
                        " name:",
                        element.bug_name,
                        " tag:",
                        element.bug_tag,
                        "</th>",
                );
              });

              // console.log(item);
            },
            //请求失败，包含具体的错误信息
            error(e) {
              console.log(e.status);
              console.log(e.responseText);
            }
          });
        }
      }
    </script>
</body>
</html>
